<!DOCTYPE html>
<html>

<head>
  <title>GCP QUIZ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" data-turbolinks-track="reload" />
  <style>
    .m15 {margin: 15px;}
    .button {max-width: 100% !important; white-space: normal; height: auto; text-align: left;}
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body class="m15 is-family-monospace is-size-6">
  <%= yield %>
</body>
</html>
